# Jupyter Notebook
.ipynb_checkpoints

# OS junk files
*.DS_Store

# Data
assets/
assets/original/
*.csv
**/*.pickle
**/*.csv
*.pkl

# Proposal documents
*.docx
*.xlsx
*.gdoc

# Other documents
*.pdf

# Ready to deploy folder
Deploy/

Icon
Icon
Course recommender literature/Icon
Scrape Course Description/Icon
User profiles/Icon
