# Jupyter Notebook
.ipynb_checkpoints

# OS junk files
*.DS_Store

# Data
assets/
assets/original/
*.csv
**/*.pickle
**/*.csv
*.pkl

# Proposal documents
*.docx
*.xlsx
*.gdoc

# Other documents
*.pdf

# Ready to deploy folder
Deploy/

*/Icon
note.txt
Icon
User Profiles/CS requirement/track_text.txt
README-Copy1.md
User Profiles/Icon
*.mp4
*.jpg
Icon
*.png
Student User Profiles/.~user_profile.ipynb
Student User Profiles/CS requirement/track_text.txt
